// Site-wide css/scss for dudebeer.me

body {
    background: image-url('debut_light.png');
}

h1 {
    font-family: 'Paprika', cursive;
}

.hero-unit {
    margin-bottom: 10px;
    margin-left: 20px
}

h1.hero-title {
    text-align: center;
    margin-bottom: 15px;
}

p.hero-subtitle {
    text-align: center;
    margin-bottom: 15px;
}

.sign-up {
    margin-top: 50px;
    margin-left: 150px;
}

p.example {
    margin-top: 10px;
    display: block;
}

.center {
    text-align: center;
}

.interested-email {

}

.features {

}

.footer {

}
